

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<article class="home__container container text-center">

    <h1> Welcome to WikiFriends</h1> 

    <h2>A Place To Find Exciting Wikipedia Articles!</h2>

    <h4> Please login or sign up to get started! </h4>
<br />

    <p class="text-center"> <%=link_to "Login", login_path, class: "btn btn--home" %> </p>

    <p class="text-center"> <%=link_to "Sign Up", signup_path, class: "btn btn--home" %> </p>

</article><!-- ./container -->