// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home__container {
  // display: grid;
  // justify-content: center;
  // align-items: center;

}

.btn--home {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn--home:hover {
  background-color: var(--secondary-color);
  color: white;

}


// OVERRIDE DEFAULT

.card {
  padding: 0; 
  border-color: var(--primary-color);
}

.badge-primary {
  background-color: var(--secondary-color);
}

