<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">WikiFriends</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= articles_path %>">Find Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= users_path %>">All Profiles</a>
      </li>
      <li class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">View Private Profile</a>
          <a class="dropdown-item" href="<%= edit_user_path%>">Edit Profile</a>
          <a class="dropdown-item" href="#">View Public Profile</a>
  
          <%= link_to "Log Out", "/sessions", method: :delete, class: "dropdown-item hover" %>

        </div>
      </li>

    </ul>
  </div>
</nav>